<div class="list">
  <% if (theme.syntax.enable && theme.syntax.global) { %>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/<%= theme.syntax.theme %>>.min.css">
  <script src="/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <% } %>
  <%- partial('_partial/list') %>
</div>
