<%- css('css/page') %>
<post>

  <br /><br />

  <div id="page_content">
    <%- page.content %>
  </div>

  <br /><br /><br />

  <%- partial('_partial/top') %>
  <%- partial('_partial/comment') %>

</post>