<h2>Search</h2>

<form class="site-search-form">
    <input type="text" id="local-search-input" class="st-search-input" />
</form>
<div id="local-search-result" class="local-search-result-cls"></div>

<%- js('js/search.js') %>
<script type="text/javascript" id="local.search.active">
  var inputArea       = document.querySelector("#local-search-input");
  getSearchFile();
  inputArea.onkeydown = function(){ if(event.keyCode == 13) return false }
</script>
