<%- css('css/tags') %>
<h1><%= __("index.tags") %></h1>

<div class="tags">
  <% site.tags.forEach(function(tag){ %>
  <div class="singletag">
    <a class="tag_link" href="/tags/<%- tag.name %>"><%- tag.name %></a>
  </div>
  <% }) %>
</div>
<br /><br /><br /><br /><br /><br />