.friendlink {
    width: 80%;
    font-size: 1.7rem;
    margin: 0 auto;

    .flink_link {
        color: inherit;

        .flink_block {
            height: 5rem;
            display: flex;
            margin: 3rem auto;

            .flink_word {
                width: 70%;

                .flink_name {
                    font-weight: bold;
                }

                .flink_desc, .flink_url {
                    padding-left: 3rem;
                    font-size: 0.8rem;
                }
            }
        }

        .flink_block:hover {
            .flink_name {
                color: #b64444;
            }
        }

        .flink_cover {
            width: 30%;

            .flink_img {
                width: 5rem;
            }
        }
    }
}
