.friendlink
    width 80%
    font-size 1.7em;
    margin 0 auto;

    .flink_link
        color inherit;

        .flink_block
            height 5em;
            display flex;
            margin 3em auto

            .flink_word
                width: 70%;

                .flink_name
                    font-weight bold;

                .flink_desc,
                .flink_url
                    padding-left 3em;
                    font-size 0.8em;

        .flink_block:hover

            .flink_name
                color #D14E4E;

        .flink_cover
            width 30%;

            .flink_img
                width 5em;
