post
  a
    color #D14E4E;
.post_title
  font bold 2em "Noto Sans SC", sans-serif;
  text-align: center;

.post_title:after
  content '';
  display block;
  margin 0.2em auto 0;
  width 100px;
  height 2px;
  border-bottom 2px dashed #D14E4E;

#post_content
    font-family "Noto Sans SC", sans-serif;
    img
        margin 0 10% 0 10%;
        max-width 80%;
    a
        font-size 1em;

h1
    font-size 1.9em;

h2
    font-size 1.7em;

h3
    font-size 1.4em;

.busuanzi
    font-weight bold
