@import '_partial/comment.styl';

post {
    a {
        color: #B64444;
    }
}

.post_title {
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
}

.post_title:after {
    content: '';
    display: block;
    margin: 0.2rem auto 0;
    width: 15rem;
    height: 2px;
    border-bottom: 2px dashed #B64444;
}

#post_content {
    font-size: 1.2rem;

    img {
        margin: 0 10% 0 10%;
        max-width: 80%;
    }

    p {
        margin-bottom: 1rem;
    }
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

h3 {
    font-weight: bold;
    font-size: 1.6rem;
}

h4 {
    font-weight: bold;
    font-size: 1.3rem;
}

.busuanzi {
    font-weight: bold;
}

pre, .highlight {
    margin: 1rem 0;
    padding-left: 0.5rem;
    overflow: auto;
    font-size: 1rem;
    line-height: 1.5rem;
}

pre code.hljs {
    padding: 0;
}

.hljs-ln-n {
    padding-right: 0.5rem;
}