.site-search-form {
    width: 80%;
    margin: 2rem auto 4rem;

    .st-search-input {
        padding: 0.5rem 2%;
        width: 100%;
        font-size: 1.3rem;
        border-radius: 0.3rem;
        border: 0.1rem solid #B64444;
    }
}

.local-search-result-cls {
    .local-search-empty {
        color: #D14E4E;
        margin-bottom: 3rem;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        display: block;
    }

    li {
        list-style-type: none;
        text-align: left;
        border-top: 1px solid #bbb;
        // padding-top: 20px;
        // margin-top: 20px;
        // line-height: 30px;

        a div {
            margin-bottom: 1.5rem;
            font-size: 2rem;
        }

    }

    li:first-child {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }
}

.search-keyword {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 1.2rem;
    font-style: normal;
    background-color: #D14E4E;
}