.tag_page_title {
  font: bold 3.5rem sans-serif;
  margin: 1rem 0 0.5rem 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;

  .singletag {
    padding: 0.2rem 0.75rem;
    margin: 0.8rem 1.5rem;
    border: 0.15rem #848484 solid;
    border-radius: 1rem;
  }

  .tag_link {
    font-weight: bold;
    font-size: 1.3rem;
  }
}
