<div id="vcomments"></div>
<% if (theme.comment.Valine.verify) { %>
<script>
  new Valine({
    el: '#vcomments',
    appId: '<%- theme.comment.Valine.appid %>',
    appKey: '<%- theme.comment.Valine.appkey %>',
    verify: true
  })
</script>
<% } else { %>
<script>
  new Valine({
    el: '#vcomments',
    appId: '<%- theme.comment.Valine.appid %>',
    appKey: '<%- theme.comment.Valine.appkey %>'
  })
</script>
<% } %>
