<foot id="footer">
  <hr class="boldline"/>
  <p class="center font">
    Copyright - &copy - <a href="https://pcrab.ml">pcrab</a> - <%- date(Date.now(), 'YYYY') %> - powered by <a href="https://hexo.io/">hexo</a>
  </p>
  <br/>
</foot>
