<foot id="footer">
  <hr class="boldline"/>
  <p class="center font">
    &copy - <a href="<%- theme.site %>"><%- theme.author.name%></a> - <% if(theme.startYear < date(Date.now(), 'YYYY')){%> <%- theme.startYear %> - <% } %> <%- date(Date.now(), 'YYYY') %> - Powered by <a href="https://hexo.io/">hexo</a> <% if(theme.showTheme) {%> Themed by <a href="https://github.com/pcrab/hexo-theme-quark"> quark </a> <% } %>
  </p>
  <br/>
</foot>
