<head>
  <title>
    Pcrab <% if(page.title){ %> - <%- page.title %> <% } %>
  </title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%- css('css/style') %>
  <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

</head>
