<head>
  <title>Pcrab</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%- css('css/style') %>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>

</head>
