<script src="//unpkg.com/valine/dist/Valine.min.js"></script>

<div id="vcomments"></div>
<script>
  new Valine({
    el: '#vcomments',
    appId: '<%- theme.comment.Valine.appid %>',
    appKey: '<%- theme.comment.Valine.appkey %>'
  })
</script>