<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v2/dist/waline.css"
  />
<div id="waline"></div>
<script>
  Waline.init({
    el: '#waline',
    serverURL: "<%- theme.comment.waline.serverUrl %>",
    visitor: "<%- theme.comment.waline.visitor %>",
    lang: "<%- config.language%>",
  });
</script>
<style>
  .wl-panel {
    background: transparent !important;
    margin: 2rem 0 0;
  }
  .wl-input,
  .wl-editor {
    --waline-bgcolor-light: transparent;
  }
</style>