#copyright {
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-direction: column;

  #license-word-hyper {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

p {
  margin: 0 auto;
}
