foot
  text-align center;
  font bold 1em "Noto Sans SC", sans-serif;
  a
    font-size: 1em;
    color: #D14E4E;

.boldline
  border none;
  height 0.1em;
  background-color #D3D3D3;

svg.icon
  width 32px;
  height 32px;
  opacity 0.8;
  transition all 0.3s ease;
  fill #bbb;

svg.icon:hover
    fill #3C3C3C;

