bbb = #bbb

foot {
  text-align: center;
  font-weight: bold;
}

.boldline {
  border: none;
  height: 0.1rem;
  background-color: bbb;
}

svg.icon {
  width: 2rem;
  height: 2rem;
  opacity: 0.8;
  transition: all 0.3s ease;
  fill: bbb;
}

svg.icon:hover {
  fill: #3C3C3C;
}
