.index_list
  font-family "Noto Sans SC", sans-serif;
  text-align left;
  margin 1em 0 6em 0;

  .line_1
    display inline;

    .index_post_date
      color #3C3C3C;
      font-weight bold;
      font-size 0.9em;

  #index_post_title
    font-weight bold;
    font-size 2.2em;
    color #3C3C3C;
  #index_post_title:hover
    color #D14E4E;

  .blank
    margin-top 1em;

    .index_post_tag
      display inline;
      padding 0.3% 1.5%;
      margin-right 3%;
      border 0.15em #D14E4E solid;
      border-radius 0.5em;
      font-weight bold;
      font-size 1em;

  .index_post_excerpt
    font-size 1em;
    color #3C3C3C;
    a
      color #FF4848;
      font-size 1em

.page_num
    item-align center;
    display flex;
    flex-direction row;
    justify-content center;

    .page_item
        margin 0 1em 1em 0;
