.index_list
  font-family sans-serif;
  text-align left;
  margin 1em 0 6em 0;

  .line_1
    display inline;

    .index_post_date
      color #868686;
      font bold 0.9em sans-serif;

  #index_post_title
    font 3.2em sans-serif;
    color #81A9D4;

  .blank
    margin-top 1em;

    .index_post_tag
      display inline;
      padding 0.5% 2% 0.5% 2%;
      margin-right 3%;
      border 0.2em #918DA0 solid;
      border-radius 0.5em;
      color #A5A0B6;
      font bold 1em sans-serif;

  .index_post_excerpt
    font 1em sans-serif;
    color #EBEBEB;
    a
      /*color #AFD2EA;*/
      color #EBEBEB;
      font 1em sans-serif;

  .more
    font bold 1.3em sans-serif;
    color white;
  .more:hover
    border-bottom 0.1em #476F9B solid;
  .more::after
    content " ->"
    color #85BFFF;

