.index_list
  font-family sans-serif;
  text-align left;
  margin 1em 0 6em 0;

  .line_1
    display inline;

    .index_post_date
      color #3C3C3C;
      font bold 0.9em sans-serif;

  #index_post_title
    font bold 2.2em sans-serif;
    color #3C3C3C;
  #index_post_title:hover
    color #D14E4E;

  .blank
    margin-top 1em;

    .index_post_tag
      display inline;
      padding 0.3% 1.5%;
      margin-right 3%;
      border 0.15em #D14E4E solid;
      border-radius 0.5em;
      font bold 1em sans-serif;

  .index_post_excerpt
    font 1em sans-serif;
    color #3C3C3C;
    a
      color #FF4848;
      font 1em sans-serif;

  /*

  .more
    font bold 1.2em sans-serif
  .more::after
    content "->"

    */
