.navi {
    text-align: center;

    .menu-item-link {
        margin: 0 3%;
        color: inherit;
        font-weight: bold;
        font-size: 1.15em;
        font-family: 'Noto Sans SC';
    }
}
