.navi {
    text-align: center;

    .menu-item-link {
        margin: 0 3%;
        color: inherit;
        font-weight: bold;
        font-size: 1.15rem;
    }

    .menu-item-link:hover {
        color: #6c6c6c;
    }
}
