post
  a
    color #D14E4E;
.post_title
  font bold 2em "Noto Sans SC", sans-serif;
  text-align: center;

.post_title:after
  content '';
  display block;
  margin 0.2em auto 0;
  width 100px;
  height 2px;
  border-bottom 2px dashed #D14E4E;

#post_content
    font-family "Noto Sans SC", sans-serif;
    img
        margin 0 10% 0 10%;
        max-width 80%;
    a
        font-size 1em;

h1
    font-size 1.9em;

h2
    font-size 1.7em;

h3
    font-size 1.4em;

#top
    width 50px
    height 80px
    background rgba(161, 161, 161, 0.5) none repeat scroll 0% 0%
    position fixed
    bottom 5%
    right 3%
    text-align center
    cursor pointer
    a
        display block
        font-size 18px
        line-height 40px
        color #3C3C3C
        text-decoration none
    a:hover
        background-color #B6B6B6
