.post_title 
  font bold 2em "Noto Sans SC", sans-serif;
  text-align: center;

#post_content
    font-family "Noto Sans SC", sans-serif;
    img
        margin 0 10% 0 10%;
        max-width 80%;
    a
        font-size 1em;

h1 
    font-size 1.8em;

h2 
    font-size 1.6em;

#top
    width 50px
    height 80px
    background rgba(85, 85, 85, 0.3) none repeat scroll 0% 0%
    position fixed
    bottom 5%
    right 3%
    text-align center
    cursor pointer
    a
        display block
        font-size 18px
        line-height 40px
        color #3C3C3C
        text-decoration none
    a:hover
        background-color #FFFFFF
