.site-search-form
    width 80%;
    margin 8% auto;

    .st-search-input
        padding 0 6%
        width 100%
        height 1.8em;
        font-size 1.3em;
        border-radius 0.3em;
        border 0.1em solid #D14E4E;

.local-search-result-cls

    .local-search-empty
        color #FF4848;
        margin-bottom 3em;
        font-weight bold;
        font-size 1.5em;
        line-height 44px;
        text-align center;
        display block;

    li
        list-style-type none;
        text-align left;
        border-top 1px solid #888888;
        padding-top 20px;
        margin-top 20px;
        line-height 30px;

        a
            font-size 2em;
            font-weight bold
            color #3C3C3C;
            margin-top 20px;
        a:hover
            color #D14E4E;

        p
            font-size 1em;
            margin-top 1em;

        em
            font-weight bold;
            font-style normal;
            color #FF4848;

    li:first-child
        padding-top 0;
        border-top none;
        margin-top 0;

