.tag_page_title
  font bold 4em sans-serif;
  color #D3E2E4
  margin 1em 0 0.5em 0;

.tags
  display flex;
  flex-wrap wrap;
  margin-bottom 4em;
  .singletag
    padding 0.25em 0.5em;
    margin 0.8em 1.5em;
    border 0.2em #918DA0 solid
    border-radius 1em;
  .tag_link
    font bold 1.5em sans-serif;
    color #D3E2E4
