.tag_page_title
  font bold 3.5em sans-serif;
  color #3C3C3C
  margin 1em 0 0.5em 0;

.tags
  display flex;
  flex-wrap wrap;
  margin-bottom 4em;
  .singletag
    padding 0.2em 0.75em;
    margin 0.8em 1.5em;
    border 0.15em #848484 solid
    border-radius 1em;
  .tag_link
    font bold 1.2em sans-serif;
    color #D14E4E
  .tag_link:hover
    color #FF4848
