.title {
  text-align: center;
}

.title_img {
  width: 300px;
  height: auto;
}

#site_title {
  height: 3rem;
  font: bold 2rem sans-serif;
  line-height: 3rem;
  color: #B64444;
  margin-bottom: 1rem;
}

#site_title::before {
  margin-right: 1rem;
  content: '< ';
}

#site_title::after {
  margin-left: 1rem;
  content: ' >';
}

@media all and (max-width: 500px) {
  .title_img {
    width: 150px;
  }
}
