.title {
  text-align: center;
}

.title_img {
  width: 20%;
}

#site_title {
  margin: 0 0 0.8em 0;
  font: bold 2em sans-serif;
  color: #D14E4E;
}

#site_title::before {
  content: '< ';
}

#site_title::after {
  content: ' >';
}

@media all and (max-width: 500px) {
  .title_img {
    width: 35%;
  }
}